.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 0 3px #000;
  z-index: 20;
}

.header_wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header_start {
  height: 40px;
  line-height: 40px;
}
.header_hamburger {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.header_title {
  font-size: 1.2rem;
  margin-left: 6px;
}

.header_center {
  width: 50%;
}

.header_form {
  display: flex;
  max-width: 100%;
}

.header_input_text {
  width: calc(100% - 60px);
  height: 40px;
  padding: 0 6px;
  border: 1px solid #8f8f8f;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

.header_input_button {
  width: 60px;
  height: 40px;
  border: 1px solid #8f8f8f;
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.header_end {
  display: flex;
}

.header_search {
  display: none;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.header_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background-color: crimson;
  background-image: url(/images/image1.jpg);
  background-size: 40px 40px;
}

@media screen and (max-width: 800px) {
  .header_title{
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .header_center{
    display: none;
  }
  .header_search{
    display: block;
  }
}